$fa-font-path: "@fortawesome/fontawesome-free/webfonts";

@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

div[id*="zthemename_business_hours"].widget .widget-inside {
    .widget-content > div {
        display: flex;
        margin: 2px 0;
        > div:first-child {
            align-self: center;
            flex: 0 0 auto;
            width: 100px;
        }
        > input,
        div:not(:first-child) {
            flex: 1 0 0%;
            margin-right: 2px;
        }
        input[value="Closed"] + input,
        input[value="24 Hours"] + input,
        input[value=""] + input {
            visibility: hidden;
        }
    }
}
