// Required

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

//$navbar-dark-color: rgba($white, 1);
//$navbar-light-color: rgba($black, 1);

// Include custom variable default overrides here

// remove h1
//$h1-font-size: null;

$utilities: map-remove($utilities, "text-align", "background-color", "color");

//@debug $theme-colors;

// Internal Bootstrap function to turn maps into its negative variant.
// It prefixes the keys with `n` and makes the value negative.
@function add-class-suffix($map, $suffix: "") {
    $result: ();
    @each $key, $value in $map {
        //@if $key != 0 {
        $result: map-merge($result, ($key + "-" + $suffix: ($value)));
        //}
    }
    @return $result;
}

//@debug add-class-suffix($theme-colors, "background-color");

$custom_utils: (
    margin-top: (
        responsive: true,
        property: margin-top,
        class: mt,
        values:
            map-merge(
                $spacers,
                (
                    auto: auto
                )
            )
    ),
    margin-y: (
        responsive: false,
        property: margin-top margin-bottom,
        class: my,
        values:
            map-merge(
                $spacers,
                (
                    auto: auto
                )
            )
    ),
    display: (
        responsive: false,
        print: true,
        property: display,
        class: d,
        values: flex
    ),
    flex-direction: (
        responsive: false,
        property: flex-direction,
        class: flex,
        //values: row column row-reverse column-reverse
        values: column
    ),
    text-align: (
        responsive: false,
        property: text-align,
        class: has-text-align,
        values: left right center justify
    ),
    min-viewport-height: (
        property: min-height,
        class: min-vh,
        values: (
            100: 100vh
        )
    ),
    margin-end: (
        responsive: true,
        property: margin-right,
        class: me,
        values:
            map-merge(
                $spacers,
                (
                    auto: auto
                )
            )
    ),
    /*
    margin-top: (
        responsive: false,
        property: margin-top,
        class: mt,
        values: (
            auto: auto
        )
    ),
    */
        margin-bottom:
        (
            responsive: false,
            property: margin-bottom,
            class: mb,
            values: $spacers
        ),
    order: (
        responsive: true,
        property: order,
        values: (
            last: 6
        )
    ),
    // scss-docs-start utils-bg-color
    background-color:
        (
            property: background-color,
            class: has,
            values:
                add-class-suffix(
                    map-merge(
                        $theme-colors,
                        (
                            "body": $body-bg,
                            "white": $white,
                            "transparent": transparent
                        )
                    ),
                    "background-color"
                )
        ),
    // scss-docs-start utils-color
    color:
        (
            property: color,
            class: has,
            values:
                add-class-suffix(
                    map-merge(
                        $theme-colors,
                        (
                            "white": $white,
                            "body": $body-color,
                            "muted": $text-muted,
                            "black-50": rgba($black, 0.5),
                            "white-50": rgba($white, 0.5),
                            "reset": inherit
                        )
                    ),
                    "color"
                )
        )
);

// Merge the maps
//$utilities: map-merge($utilities, $custom_utils);
$utilities: $custom_utils;

$headings-font-weight: null;
$display-font-weight: null;

.has-huge-font-size {
    @extend .display-1;
}

.has-large-font-size {
    @extend .display-4;
}

.has-medium-font-size {
    @extend .display-6;
}

.has-normal-font-size {
    @extend h6;
}

.has-small-font-size {
    @extend small;
}

img {
    max-width: 100%;
    height: auto;
}

// Optional
//@import "../node_modules/bootstrap/scss/root";

:root {
    // Use `inspect` for lists so that quoted items keep the quotes.
    // See https://github.com/sass/sass/issues/2383#issuecomment-336349172
    --#{$variable-prefix}font-sans-serif: #{inspect($font-family-sans-serif)};
    --#{$variable-prefix}font-monospace: #{inspect($font-family-monospace)};
    --#{$variable-prefix}gradient: #{$gradient};
}

@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
//@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
//@import "../node_modules/bootstrap/scss/grid";
//@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms"; // form
//@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions"; // navbar
@import "../node_modules/bootstrap/scss/dropdown"; // navbar
//@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav"; // navbar
@import "../node_modules/bootstrap/scss/navbar"; // navbar
//@import "../node_modules/bootstrap/scss/card";
//@import "../node_modules/bootstrap/scss/breadcrumb";
//@import "../node_modules/bootstrap/scss/pagination";
//@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert"; //alert
//@import "../node_modules/bootstrap/scss/progress";
//@import "../node_modules/bootstrap/scss/list-group";
//@import "../node_modules/bootstrap/scss/close";
//@import "../node_modules/bootstrap/scss/toasts";
//@import "../node_modules/bootstrap/scss/modal";
//@import "../node_modules/bootstrap/scss/tooltip";
//@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
//@import "../node_modules/bootstrap/scss/spinners";

// Helpers
//@import "../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../node_modules/bootstrap/scss/utilities/api";

// font awesome
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/variables";
@import "~@fortawesome/fontawesome-free/scss/mixins";
@import "~@fortawesome/fontawesome-free/scss/core";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/fixed-width";

.site-header,
.site-footer {
    background-color: var(--global--color-header-footer);
    .wp-block-button {
        &:not(.is-style-outline) .wp-block-button__link {
            background-color: var(--global--color-header-footer-accent);
            color: var(--global--color-header-footer);
            &:hover {
                color: var(--global--color-header-footer-accent);
                background-color: transparent;
            }
        }
        &.is-style-outline .wp-block-button__link:hover {
            color: var(--global--color-header-footer);
        }
    }
    .navbar-light .is-style-outline .wp-block-button__link {
        color: $navbar-light-color;
        &:hover {
            background-color: $navbar-light-color;
            border-color: $navbar-light-color;
        }
    }
    .navbar-dark .is-style-outline .wp-block-button__link {
        color: $navbar-dark-color;
        &:hover {
            background-color: $navbar-dark-color;
            border-color: $navbar-dark-color;
        }
    }
}

.site-header {
    .navbar-brand {
        flex: 1 0 0%;
        min-width: 0;
        > h2 {
            white-space: normal;
            color: var(--global--color-header-footer-accent);
        }
    }
}

.site-footer {
    .widget a {
        color: var(--global--color-header-footer-accent);
        text-decoration: none;
    }
    .navbar-light .widget {
        color: $navbar-light-color;
    }
    .navbar-dark .widget {
        color: $navbar-dark-color;
    }
}

@media (min-width: 768px) {
    .site-header .navbar-brand {
        flex: initial;
    }
}

// hide the toggler if there is no nav menu after it.
#site-navigation > .container > button:last-child {
    display: none;
}

aside > .widget_zthemename_contact_form {
    padding: 1rem;
    border: 1px solid #dee2e6;
    margin: auto;
    border-radius: 0.25rem;
}

.wp-block-columns {
    display: flex;
    //margin-bottom: 1.75em;
    flex-wrap: wrap;
}

.wp-block-columns > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

.wp-block-column {
    flex: 1 0 0%;
}

@media (min-width: 768px) {
    aside.widget-area {
        flex: 0 0 auto;
        width: 33.33333%;
        margin-left: 2em;
    }
}

@media (min-width: 992px) {
    aside.widget-area {
        width: 25%;
    }
}

@media (max-width: 575px) {
    .wp-block-column {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .wp-block-column:not(:only-child) {
        flex-basis: calc(50% - 1em);
    }
}

.wp-block-column[style*="flex-basis"] {
    flex-grow: 0;
}

.wp-block-column[style*="flex-basis"] + .wp-block-column {
    flex: 1 0 0;
}

@media (min-width: 576px) {
    .wp-block-column:not(:first-child) {
        margin-left: 1em;
    }
}

.carousel-inner > .carousel-item {
    &.active,
    &.carousel-item-next,
    &.carousel-item-prev {
        display: flex;
    }
    > figure {
        > div {
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    justify-content: center;
}

figure > figcaption {
    text-align: center;
    color: #6c757d;
    margin-bottom: 0.25rem;
}

/* medium and up screens */
@media (min-width: 576px) {
    .carousel-inner > .carousel-item {
        &:not(:only-child) {
            &.carousel-item-end.active,
            &.carousel-item-next {
                transform: translateX(50%);
            }
            &.carousel-item-start.active,
            &.carousel-item-prev {
                transform: translateX(-50%);
            }
            &.carousel-item-end,
            &.carousel-item-start {
                transform: translateX(0);
            }
            /*
            > div {
                flex: 0 0 auto;
                width: 50%;
            }
            */
            > figure {
                flex: 0 0 auto;
                width: 50%;
            }
            &:first-child:nth-last-child(3),
            &:first-child:nth-last-child(3) ~ .carousel-item {
                &.carousel-item-end.active,
                &.carousel-item-next {
                    transform: translateX(100%);
                }
                &.carousel-item-start.active,
                &.carousel-item-prev {
                    transform: translateX(-100%);
                }
                &.carousel-item-end,
                &.carousel-item-start {
                    transform: translateX(0);
                }
            }
        }
    }
}

/* medium and up screens */
@media (min-width: 992px) {
    .carousel-inner > .carousel-item {
        &:not(:only-child) {
            &.carousel-item-end.active,
            &.carousel-item-next {
                transform: translateX(25%);
            }
            &.carousel-item-start.active,
            &.carousel-item-prev {
                transform: translateX(-25%);
            }
            &.carousel-item-end,
            &.carousel-item-start {
                transform: translateX(0);
            }
            /*
            > div {
                //flex: 0 0 auto;
                width: 25%;
            }
            */
            > figure {
                width: 25%;
            }
            &:first-child:nth-last-child(3),
            &:first-child:nth-last-child(3) ~ .carousel-item {
                &.carousel-item-end.active,
                &.carousel-item-next {
                    transform: translateX(33%);
                }
                &.carousel-item-start.active,
                &.carousel-item-prev {
                    transform: translateX(-33%);
                }
                &.carousel-item-end,
                &.carousel-item-start {
                    transform: translateX(0);
                }
                /*
                > div {
                    flex: 0 0 auto;
                    width: 33%;
                }
                */
                > figure {
                    flex: 0 0 auto;
                    width: 33%;
                }
            }
            &:first-child:nth-last-child(2),
            &:first-child:nth-last-child(2) ~ .carousel-item {
                &.carousel-item-end.active,
                &.carousel-item-next {
                    transform: translateX(50%);
                }
                &.carousel-item-start.active,
                &.carousel-item-prev {
                    transform: translateX(-50%);
                }
                &.carousel-item-end,
                &.carousel-item-start {
                    transform: translateX(0);
                }
                /*
                > div {
                    width: 50%;
                }
                */
                > figure {
                    width: 50%;
                }
            }
        }
    }
}

/* zzz */
@media (max-width: 575px) {
    .carousel-inner .carousel-item > figure {
        display: none;
        &:first-child {
            display: block;
        }
    }
}

@media (max-width: 991px) {
    .carousel-inner .carousel-item {
        &:first-child:nth-last-child(3),
        &:first-child:nth-last-child(3) ~ .carousel-item {
            > figure {
                display: none;
                &:first-child {
                    display: block;
                }
            }
        }
    }
}

.wp-block-image {
    border: 1px solid #dee2e6;
    &.is-style-rounded {
        border-radius: 0.25rem;
        overflow: hidden;
    }
}

.wp-block-column > p {
    margin-bottom: 0;
}

.wp-block-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    > .wp-block-button {
        display: inline-block;
        margin-left: 0;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
        &:last-child {
            margin-right: 0;
        }
    }
}

.wp-block-button__link {
    color: #fff;
    background-color: #32373c;
    //border: none;
    border: 2px solid;
    border-color: currentColor;
    //border-radius: 1.55em;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1.125em;
    padding: 0.667em 1.333em;
    text-align: center;
    text-decoration: none;
    overflow-wrap: break-word;
    &[disabled] {
        opacity: 0.5;
    }
}

.is-content-justification-left {
    justify-content: flex-start;
}

.is-content-justification-right {
    justify-content: flex-end;
}

.is-content-justification-center {
    justify-content: center;
}

.is-vertically-aligned-center {
    align-self: center;
}
